fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic[email]
pydantic-settings
python-multipart
python-dotenv
pymupdf
openai
google-api-python-client
google-auth
python-docx
google-auth-oauthlib
